body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.custom-color{
    color: rgb(221, 68, 119);
}
.anchor-button{
    margin-top: 10px;
    margin-left: 2px;
    padding: 10px 30px;
    background: linear-gradient(orange, pink);
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10%;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 70%;
}
a{
    padding-top: 50px;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-left: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 30px salmon;
    border-radius: 20px;
}
#web-developer{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(0, 187, 187), rgb(243, 247, 244));
    border-image-slice: 1;
}
#digital-marketer{
    border-left: 7px solid;
    border-image: linear-gradient(blue, rgb(174, 167, 212));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
